# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Django stuff
*.log
*.sqlite3
media/
staticfiles/

# Docker files
Dockerfile
docker-compose.override.yml

# IDE files
*.idea/
*.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Node/npm stuff if accidentally copied
node_modules/
dist/
